.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.userlist {
  flex: 1;
  background-color: #c76d05;
}

.chat {
  flex: 12;
  background-color: rgb(93, 233, 163);
}

.inputbox {
  flex: 1;
  background-color: gray;
}